/* Style here */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./news-back.avif") no-repeat center center fixed;
  background-size: cover;
}

.links {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: black;
  font-size: 20px;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.links a:hover {
  color: rgb(219, 122, 122);
}

h1 {
  text-align: center;
  background-color: aliceblue;
  /* padding: 10px; */
  /* margin-top: 10px; */
  color: rgb(255, 255, 255);
  font-family: "Times New Roman", Times, serif;
  border-radius: 65px;
}

.container {
  background-color: aliceblue;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
}

.card {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

h2 {
  margin-left: 25px;
  background-color: aliceblue;
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
}

.business-section {
  display: flex;
  background-color: #020202;
  padding: 10px;
  justify-content: center;
  border-radius: 5px;
}

#business-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.btn-primary {
  background-color: #080808;
  border-color: #e7ecf1;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
}
